pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
langchain-pinecone
langgraph
sentence-transformers
pypdf
bs4
langchain_huggingface
faiss-cpu
langchain_google_genai
youtube_search
wikipedia
autogen-agentchat
autogen-core
autogen-ext==0.6.4
dotenv
openai
tiktoken
autogen-ext[docker]==0.6.4
pyautogen
pyautogen[codeexecutor]
streamlit
autogen-ext[mcp]
google-adk
crewai-tools