#SERPER_API_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
#BROWSERLESS_API_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
#OPENAI_API_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
#GROQ_API_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
#GEMINI_API_KEY= "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

#GROQ_API_KEY="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"
GROQ_API_KEY="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"
LANGCHAIN_API_KEY="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"
OPENAI_API_KEY="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"
LANGCHAIN_PROJECT="Agentic2.0"
HF_TOKEN="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"
#GOOGLE_API_KEY1="AIzaSyACAqUGge6NIeXS5AEWTu9SCSP4Z6gnqXg"
#GOOGLE_API_KEY="AIzaSyBIUuGYM13s05lQgnJ_aEiK-XPslG2PMQc"
GOOGLE_API_KEY="AIzaSyC7sP-8-9gH_VfdzsYIoJ_KUCKN2JW4ObY"
PINECONE_API_KEY="pcsk_79zEmx_EJgM8ppQELgoN51vG9qztu5uNcYkP6JkwCFJ82sWGQU9nCCjsDqxTAn8v8QC4yJ"
TAVILY_API_KEY="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"
SERPER_API_KEY="ddbc278e9483e8227b3b5ddafeffde59771e8ee9"
os.environ['SERPER_API_KEY']='bead05022450578faa7498f4c90d85e534c372e0'
#OPENROUTER_API_KEY = "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"
OPENROUTER_API_KEY="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"
CUSTOM_LLM_API_URL="http://192.168.10.8:1234"
OPIK_API_KEY="qYaycvx0WV3wFeqkYyRwjtcgL"
MEM0_API_KEY="m0-QmhCcNKXuWhOrBCHkTABVd03mTqm6gyFfSj3ECjF"
BROWSERLESS_API_KEY="2TIbEvq7oSrU3FN6a55d1b28e218dfcdef0063b247fd5db16"
#OPEN AI API Key -> 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